#main_footer{style: 'position:absolute; bottom:0px; width:100%; background-color: gray;height:40px;'}
  .cp{style: 'margin-top:10px;float:left;'}
    %p © 2017 PFB
  .user{style: 'float:right;'}
    - if current_user.present?
      %h4=current_user.email
    - else
      %h4="Not signed in."
