- if user_signed_in?
  %nav#navigation-example.navbar.navbar-expand-lg.navbar-transparent.navbar-absolute.fixed-top
    .container-fluid
      %button.navbar-toggler{"aria-controls" => "navigation-index", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navigation-example", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.navbar-toggler-icon.icon-bar
        %span.navbar-toggler-icon.icon-bar
        %span.navbar-toggler-icon.icon-bar
      .collapse.navbar-collapse.justify-content-end
        %form.navbar-form
          .input-group.no-border
            %input.form-control{:placeholder => "Search...", :type => "text", :value => ""}/
            %button.btn.btn-default.btn-round.btn-just-icon{:type => "submit", :style => "margin-left: 1px; border-radius: 50% !important;"}
              %i.material-icons search
              .ripple-container
        %ul.navbar-nav
          %li.nav-item
            %a.nav-link{:href => "javascript:void(0)"}
              %i.material-icons dashboard
              %p.d-lg-none.d-md-block
                Stats
          %li.nav-item.dropdown
            #navbarDropdownMenuLink.nav-link
              %i.material-icons notifications
              %span.notification 5
              %p.d-lg-none.d-md-block
                Some Actions
            .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdownMenuLink"}
              - current_user.to_messages.each do |message|
                .dropdown-item{:id => "message_#{message.id}"}=message.subject
                :javascript
                  $("#message_#{message.id}").click(() => {
                    show_modal("#{message.subject}", "#{message.text}")
                  })
          %li.nav-item
            %a.nav-link{:href => "javascript:void(0)"}
              %i.fa.fa-space-shuttle
              %p.d-lg-none.d-md-block
                Account


:javascript
  $(document).ready(() => {
    $("#navbarDropdownMenuLink").click(()=> {
      $(".dropdown-menu.dropdown-menu-right").toggleClass("show");
    });
  });