#modalWindow.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title Modal Header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
      .modal-body
        %p Some text in the modal.
      .modal-footer
        %button.btn.btn-default.close{"data-dismiss" => "modal", :type => "button"} Close
:javascript
  $(document).ready( () => {
    $(".close").click(() => {
      $("#modalWindow").fadeOut('slow');
      $('body').removeClass('modal-open').css("overflow-y", "auto");
      $('.modal-backdrop').remove();
    })
  })