- # .sidebar{"data-background-color" => "black", "data-color" => "purple", "data-image" => "../assets/img/sidebar-2.jpg"}
.sidebar{"data-background-color" => "black", "data-color" => "purple"}
  /
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
    
    Tip 2: you can also add an image using data-image tag
  .logo
    %a.simple-text.logo-normal{:href => "/"}=@APPLICATION_NAME
  .sidebar-wrapper
    %ul.nav
      - @NAVIGATION_LINKS.each do |link|
        %li.nav-item{class: "#{link[:active] ? 'active' : ''}"}
          %a.nav-link{:href => "#{link[:href]}"}
            %i.material-icons=link[:icon]
            %p= link[:text]
  - # .sidebar-background{:style => "background-image: url(../assets/img/sidebar-2.jpg) "}
  .sidebar-background{:style => ""}